name: Dart CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
    
    steps:
      - uses: actions/checkout@v4

      - uses: dart-lang/setup-dart@v1
        with:
          sdk: stable

      - name: Install OpenSSL (Windows)
        if: matrix.os == 'windows-latest'
        run: choco install openssl

      - name: Configure Environment (Windows)
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: |
          echo "OPENSSL_LIBSSL_PATH=C:\Program Files\OpenSSL-Win64\bin\libssl-3-x64.dll" >> $env:GITHUB_ENV
          echo "OPENSSL_LIBCRYPTO_PATH=C:\Program Files\OpenSSL-Win64\bin\libcrypto-3-x64.dll" >> $env:GITHUB_ENV
          echo "C:\Program Files\OpenSSL-Win64\bin" >> $env:GITHUB_PATH

      - name: Install OpenSSL (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libssl-dev libssl3

      - name: Install Dependencies
        run: dart pub get

      - name: Run Tests
        run: dart test
